.home, .thanksforvoting {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.headerContainer {
  width: 80%;
  text-align: left;
}

.headerContainer h1 {
  font-size: 5vw;
  height: 30px;
  font-weight: 500;
  color: black;
}

.headerContainer p {
  font-size: 3vw;
  font-weight: lighter;
  color: black;
}

@media only screen and (max-width: 650px) {
  .headerContainer {
    width: 90%;
    text-align: center;
  }

  .headerContainer h1 {
    font-size: 8vw;
  }

  .headerContainer p {
    font-size: 5vw;
  }

  .vote_for_name {
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    background-color: #e1dada;
    color: black;
  }

  .vote_for_name h1 {
    font-size: 5vw;
    height: 30px;
    color: black;
  }

  .vote_for_name button {
    background-color: white;
    color: #121619;
    margin-bottom: 3vw;
  }

  .vote_for_name button:hover {
    background-color: rgb(225, 225, 225);
    color: #121619;
  }

  .vote_for_name button:focus {
    background-color: rgb(244, 235, 163);
    color: #121619;
  }
}